<!DOCTYPE html>
<html>
<% include ../header %>

<body>
    <% include ../nav %>


    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1 mt-5">
                <a href="/user/send/<%= coin%>/<%= id%>" class="sendCoinButton"><button
                        class="btn btn-outline-dark btn-lg">Send</button></a>
            </div>
            <div class="col-md-5 offset-md-1c mt-5 text-right">
                <h2><%= balance %> <%= coin %></h2>
            </div>
            <div class="col-md-10 offset-md-1 mt-5">
                <table class="table">
                    <tr>
                        <th>Date</th>
                        <th>To/From</th>
                        <th>Status</th>
                        <th>Amount</th>
                    </tr>
                    <% wallet.forEach(function(wall){ %>
                    <tr>
                        <td>
                            <p><%= moment(wall.date).format("YYYY-MM-DD H:m:s")  %></p>
                        </td>
                        <td>
                            <p>
                                <%  Object.keys(wall.entries).forEach(function (key) { %>
                                    <% if(id == wall.entries[key].wallet && wall.type === 'receive') {%>
                                        Received at <%= wall.entries[key].address %>
                                    <% } else if(wall.type === 'send' && key == 0) { %>
                                        Send to <%= wall.entries[key].address %>
                                    <% } %>
                                <% }) %>

                            </p>
                        </td>
                        <td>
                            <p><%= wall.state %></p>
                        </td>
                        <td>
                            <p><%= (wall.value / 1e8).toFixed(4) %></p>
                        </td>
                    </tr>
                    <% }); %>
                </table>

            </div>
        </div>
    </div>

    <% include ../footer %>

    <% include ../scripts %>

</body>

</html>