<!DOCTYPE html>
<html>
<% include ../header %>

<body>
    <% include ../nav %>


    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 mt-5">
                    <a href="/user/send/<%= coin%>/<%= id%>"><button class="btn btn-outline-dark btn-lg sendCoinButton">Send</button></a>
            </div>
            <div class="col-md-8 offset-md-2 mt-5">
                <table class="table">
                    <tr>
                        <th>Date</th>
                        <th>To/From</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </tr>
                    <% wallet.forEach(function(wall){ %>
                    <tr>
                        <td>
                            <p><%= wall.date %></p>
                        </td>
                        <td>
                            <p>
                                <!---<%-JSON.stringify(wall.entries)%>-->
                            </p>
                        </td>
                        <td>
                            <p><%= wall.state %></p>
                        </td>
                        <td>
                            <p><%= (wall.value / 1e8).toFixed(4) %></p>
                        </td>
                        <td>
                            <p><%= (wall.inputs[0].value / 1e8).toFixed(4) %></p>
                        </td>
                    </tr>
                    <% }); %>
                </table>

            </div>
        </div>
    </div>


    <% include ../footer %>

    <% include ../scripts %>

</body>

</html>